/* Rsync modal styles */

.rsync-progress-container {
	margin: 1em 0;
}

.rsync-progress-section {
	margin-bottom: 1em;
}

.rsync-progress-label {
	margin-bottom: 0.5em;
	font-weight: 500;
}

.rsync-progress-bar {
	width: 100%;
	height: 1.5em;
}

.rsync-settings-toggle {
	margin: 1em 0;
	cursor: pointer;
}

.rsync-settings-container {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid var(--background-modifier-border);
}

.rsync-settings-hidden {
	display: none;
}
